

button{
    background-color: rgb(106, 64, 162);
    color: white;

}
body{
    background-color: rgb(255, 255, 255);
}
#box{
    color: white;
}
.heading{
    color: red;
}
.subheading{
    color: chocolate;
}
h1{
    text-align: center;
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: white;
}
#one{
    color: blue;
    margin: 20px;
    font-size: 25px;
}
#two{
    color: green;
    margin: 20px;
    font-size: 25px;
}
#three{
    color: purple;
    margin: 20px;
    font-size: 25px;
}
#four{
    color: orange;
    margin: 20px;
    font-size: 25px;
    line-height:normal;

}
#five{
    color: black;
    font-size: 20px;
    margin: 20px;
    line-height: normal;
    width: 100px;
    background-color: rgb(242, 0, 0);
    height: 100px;
    /*border-width: 5px;
    border-color: rgb(127, 7, 255);
    border-style: dashed;*/
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    padding-left: 5px;

}